@import "vars"
@import "fonts"

//start global style 
body 
    background: $main-color
    color: #fff
    font-family: $main-font
    font-size: 16px
    overflow-x: hidden
.container-fluid 
    width: 1200px 
    max-width: 90%
    padding-left: 0 
    padding-right: 0
.h1 
    text-align: center
    font-size: 70px
    line-height: 1.2
    font-weight: 500
    span 
        display: block
        font-weight: 700
        color: $gold
.h2 
    font-size: 40px 
    font-weight: 600
    font-family: $secondary-font
    border-bottom: 4px solid #B19861
.button 
    margin-left: auto 
    margin-right: auto
    display: flex 
    justify-content: center 
    align-items: center
    background: #ED1A39
    color: #fff 
    text-decoration: none
    padding: 16px 23px
    border-radius: 4px
    font-size: 14px 
    font-family: $secondary-font
    font-weight: 700
    text-transform: uppercase
.button:hover 
    color: #fff 
    text-decoration: none 
.section
    padding-top: 80px 
    padding-bottom: 80px  
.section-header
    text-align: center 
    width: 654px 
    max-width: 100%
    margin-left: auto 
    margin-right: auto
    margin-bottom: 35px
    .h2 
        margin-bottom: 35px
//end global style

//start header style 
.header
    position: absolute
    top: 0 
    left: 0 
    width: 100%
    padding-top: 48px
    .container-fluid 
        display: flex 
        justify-content: space-between
.header__social-link
    display: block 
    text-decoration: none
    margin-bottom: 7px
    img 
        width: 27px 
        height: 27px
//end header style

//start main screen style 
.main-screen
    min-height: 100vh 
    padding-top: 200px 
    padding-bottom: 200px
    background: url('../img/main-bg.png')
    background-size: cover
    background-position: center
    display: flex 
    align-items: center 
    justify-content: center
    text-align: center      
//end main screen style

//start why now style 
.section
    .col-lg-4 
        margin-top: 30px
.learn-more-container
    display: flex 
    flex-direction: column
    align-items: center
.cover 
    width: 176px
    margin-bottom: 17px 
    display: block
.learn-more__title
    font-size: 20px 
    font-weight: 600 
    font-family: $secondary-font 
    margin-bottom: 24px
//end why now style

//start what is style
.what-is__item
    background: $aqua
    text-align: center
    font-size: 18px
    padding: 30px 18px
    margin-bottom: 30px
    img 
        display: block 
        margin-bottom: 10px
        margin-left: auto 
        margin-right: auto
//end what is style

//start who meet style
.who-meet__item
    width: 237px 
    margin-left: auto 
    margin-right: auto
    text-align: center
    margin-top: 50px
    img 
        margin-bottom: 30px 
        display: block 
        margin-left: auto 
        margin-right: auto
//end who meet style

//start about style
.about 
    p 
        margin-top: 30px
//end about style

//start parallax section style
.parallax-section
    position: relative
    height: 620px
    overflow: hidden
.parallax-image
    background-image: url('../img/video.png')
    height: 100%
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
//end parallax section style

//start form style 
.label 
    display: block
.input,
.select
    display: block
    width: 100%
    height: 50px 
    border-radius: 10px 
    border: 2px solid $gold
    background: #44505E
    color: #fff 
    outline: none
    padding-left: 18px 
    padding-right: 18px

.form-row
    display: flex
    justify-content: space-between
.form 
    width: 839px 
    max-width: 100%
    margin-left: auto 
    margin-right: auto
.form-col
    max-width: 48%
    width: 360px
.input-item
    margin-bottom: 30px
.select 
    background-image: url('../img/down.svg')
    background-repeat: no-repeat 
    background-position: right 20px center
.select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
.select::-ms-expand
    display: none
.input-checkbox
    display: none
.checkbox
    width: 20px 
    height: 20px
    border: 2px solid $gold 
    border-radius: 4px
.checkbox-wrapper
    width: 20px 
    height: 20px 
    margin-right: 11px
.checkbox-row
    display: flex 
    justify-content: center
    align-items: center
    position: relative
    top: 2.5px
.checkbox
    cursor: pointer
.input-checkbox:checked + .checkbox 
    background: url('../img/check.svg')
    background-repeat: no-repeat
    background-position: center
.capcha-wrapper
    display: flex 
    justify-content: center 
    align-items: center
    margin-top: 35px
    margin-bottom: 35px
.form
    .button 
        width: 168px 
        border: none 
        outline: none
//end form style 

//start footer style 
.footer
    background: $gold
    padding-top: 60px 
    padding-bottom: 60px
    font-size: 14px
    .container-fluid 
        display: flex 
        justify-content: space-between 
        align-items: center
.footer-social
    display: flex 
    align-items: center
    .header__social-link
        margin-left: 8px 
        margin-bottom: 0
.footer-link,
.footer-link:hover
    color: #fff
    text-decoration: none
.footer-link
    margin-right: 20px
//end footer style
.join-us,
.who-meet
    position: relative
.triangle
    position: absolute
    width: 317px
    opacity: 0.8
    transition: transform 0.5s ease-out
    pointer-events: none
.triangle1
    top: -450px
    left: 0px
.triangle2
    top: 0px
    right: 0px
.form-status 
    text-align: center 
    padding: 5px 10px
    margin-top: 30px
    border: 1px solid transparent
    border-radius: 5px
    display: flex 
    justify-content: center 
    align-items: center
    p 
        margin-bottom: 0
@import "media"



